parameters:
    # Needed only when you use "rules" block below
    level: 8
    paths:
        - src

    # Sometimes needed
    bootstrapFiles:
        - vendor/autoload.php
    ignoreErrors:
        - { identifier: missingType.property }
        - { identifier: missingType.parameter }
        - { identifier: missingType.return }
        - { identifier: new.static }

    # Prevents scanning given folders/files
