<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    backupGlobals="false"
    colors="true"
    processIsolation="true"
    bootstrap="tests/bootstrap.php"
    >
    <testsuites>
        <testsuite name="LibCoverage Test Suite">
            <directory>./tests/</directory>
        </testsuite>
        <testsuite name="LibCoverage CodeCoverage">
            <file>tests/support.php</file>
        </testsuite>
    </testsuites>
</phpunit>
